* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #999999; /* #434343 */
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 0.9em;
}

ul {
	list-style: none;
}

/*** header ***/
@font-face {
	font-family: SegoeUIL;
	src: url(SEGOEUIL.ttf);
}

.top-header {
	font-family: 'SegoeUIL', sans-serif;
	font-size: 1.8em; align-items : center;
	background: #FF9999; /* #DF574B */
	box-shadow: 0px 2px 10px #333333;
	display: flex;
	height: 60px;
	position: fixed;
	top: 0;
	width: 100%;
	align-items: center;
}

/*** body ***/
.top-nav {
	flex: 1;
}

.top-nav a {
	color: #F9F9F9;
	font-weight: 400;
	margin-left: 20px;
	text-decoration: none;
	/* border-left: 1px solid #FFFFFF; */
}

#welcome-msg {
	font-size: 0.7em; border-right : 1px solid #FFFFFF;
	/* display: none; */
	padding-right: 10px;
	border-right: 1px solid #FFFFFF;
}

#logout-link {
	font-size: 0.7em;
	margin-left: 10px;
}

#avatar {
	font-size: 1em;
	margin-left: 5px;
}

.container {
	margin: 60px auto;
	max-width: 1000px;
	min-width: 600px;
}

.container>header {
	align-items: center;
	background: url(coverPic.jpg) no-repeat 50% 50%;
	background-size: 100%;
	display: flex;
	height: 400px;
}

@font-face {
	font-family: Bodoni;
	src: url(Bodoni-Poster.otf);
}

.container>header p {
	background: rgba(255, 255, 255, 0.7);
	border-left: 2px solid #FFFFFF;
	body-shadow: 0 0 0.03em #999999, -0 -0 0.03em #999999; /* #434343 */
	color: #ABCDEF;
	font-family: 'Bodoni', serifs;
	font-weight: 500;
	font-size: 3.5em;
	line-height: 1em;
	margin-left: 200px;
	margin-bottom: -50px;
	padding-left: 10px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-shadow: 0 0 0.08em #FFFFFF, -0 -0 0.08em #FFFFFF;
}

.container>header span {
	color: #CC9933; /* #FBAF41 */ /* rgba(253, 200, 60, 1) */
	font-size: 1.4em;
	text-shadow: 0 0 0.03em #FFFFFF, -0 -0 0.03em #FFFFFF;
}

#item-nav {
	/*position: absolute;*/
	float: left;
	width: 180px;
}

.main-section {
	background: #66CCCC; /* #F3BB43 */
}

.nav-icon {
	color: #624630;
	padding: 20px;
	text-align: center;
}

.main-nav-btn {
	display: block;
	border-top: 1px solid #FFFFFF;
	color: #FFFFFF;
	padding: 20px;
	text-decoration: none;
}

.main-nav-btn:hover {
	background-color: rgba(255, 255, 255, 0.8);
	color: #624630;
}

.main-nav-btn.active {
	background: rgba(255, 255, 255, 0.8); /* #F2EBD9 */
	color: #624630;
}

.main-nav-btn i {
	width: 20px;
}

.item {
	align-items: center;
	border-bottom: 1px solid #FFFFFF;
	display: flex;
	margin: 10px;
	padding: 15px;
}

#item-list {
	background: rgba(255, 255, 255, 0.8); /* #F2EBD9 */ color : #624630;
	margin-left: 180px;
	min-height: 250px;
	padding: 10px;
	line-height: 25px;
	color: #624630
}

.item:hover {
	background: rgba(255, 255, 255, 0.8);
}

.item:last-child {
	border-bottom: none;
}

.item img {
	border: 1px solid #FFFFFF;
	height: 80px;
	width: 80px;
}

.item>div:first-of-type {
	flex: 1;
	margin-left: 10px;
	margin-right: 10px;
}

.item-name {
	color: #624630;
	font-weight: 500;
	font-size: 1.2em;
	margin-left: 15px;
	text-decoration: none;
}

.item-name:hover {
	text-decoration: underline;
}

.item-category {
	line-height: 25px;
	margin-left: 15px;
}

.item-description {
	line-height: 22px;
	text-align: justify;
	margin-left: 15px;
}

.item-address {
	line-height: 25px;
	padding-right: 20px;
	text-align: right;
	margin-left: 15px;
}

.item-city {
	line-height: 25px;
	padding-right: 20px;
	text-align: right;
	margin-left: 15px;
}

.stars {
	/* align-items: center; */
	display: flex;
	padding-top: 10px;
	margin-left: 15px;
}

.fav-link {
	border-left: 1px solid #FFFFFF;
	cursor: pointer;
	line-height: 60px;
	text-align: center;
	width: 60px;
	margin-left: 5px;
}

.fav-link:hover {
	color: #F13F3F;
	cursor: pointer;
}

/*** footer ***/
footer {
	background: #999999;
	font-size: 1em;
	height: 200px;
	position: relative;
}

footer p {
	text-align: center;
}

footer p.title {
	font-size: 1.4em;
	padding: 15px;
}

footer ul {
	align-items: center;
	display: flex;
	padding: 20px;
}

footer ul li {
	flex: 1;
}